<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${post.title}" th:if="${post}">Create a new post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<h3 th:text="${post.title}" th:if="${post}"></h3>
<h3 th:unless="${post}">Create a post</h3>
<form action="#" th:action="@{/posts}" th:object="${post}" method="post">
    <div class="form-group">
        <input type="hidden" name="id"  th:attr="value=${post.id}" th:if="${post}">
        <input type="hidden" name="id"  value="" th:unless="${post}">
        <label>Title</label>
        <input name="title" th:attr="value=${post.title}" th:if="${post}">
        <input name="title" th:unless="${post}">
        <label>Content</label>
        <textarea name="content" class="form-control" id="markdown" rows="15" th:text="${post.content}" th:if="${post}"></textarea>
        <textarea name="content" class="form-control" id="markdown" rows="15" th:unless="${post}"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" formaction="/delete" class="btn btn-danger float-xs-right">Delete</button>
</form>

</body>
</html>